version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: hsm-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: hsm_backoffice
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
